nav {
    margin-bottom: 1.5rem;
}

#wrapper {
    padding-top: 1rem;
}

i.material-icons{
    vertical-align: bottom
}

#sidenav-overlay {
    left: 300px;
}

#editor-wrapper {
    padding-left: 0;
}

.editormd-code-toolbar select {
    display: unset;
}