body {
    background-color: #fff;
}

nav {
    background-color: #2196f3 !important;
}

@media only screen and (min-width: 992px) {
    .parallax-container .parallax img {
        display: block;
        transform: translate3d(-50%, 393px, 0px);
    }
}

.post {
    margin-bottom: 4rem;
}

.post .title {
    color: #263238;
    text-align: center;
}

.post .title:hover {
    color: #455a64;
}

.post .banner {
    padding-bottom: 1rem;
}

.post .banner span {
    font-size: 1.2rem;
    color: #78909c;
}

.post .summary {
    padding-left: 0;
    padding-right: 0;
}

.post .summary p {
    margin-bottom: 0.9em;
    color: #4d4d50;
    font-size: 1.2rem;
    line-height: 1.5;
}

.post .post-content {
    padding: 0 0 4rem 0;
}

.post .tags {
    padding: 0.6rem 0 0.8rem;
    display: inline-block;
    width: 100%;
    border-top: 2px dotted #ebebeb;
    border-bottom: 2px dotted #ebebeb;
}

.post .tags p {
    margin: 0;
    color: #90a4ae;
    font-size: 1.2rem;
    display: inline-block;
}

.post .tags .chip {
    font-size: 1rem;
    background-color: #cfd8dc;
    margin: 0 7px 0 0;
}

#btn-collapse {
    color: #607d8b;
}

.tocbar {
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    background: #fff;
    z-index: 100;
    padding: 18px;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
}

.tocbar:hover {
    overflow: auto;
}

.tocbar #toc-container {
    padding-left: 0;
}

#toc-container ul:not(.browser-default) > li {
    list-style-type: disc;
}

.card.horizontal .card-image img {
    min-height: 100%;
}

span.badge.draft {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #f44336;
    border-radius: 2px;
}

.btn-success {
    background-color: #43a047 !important;
}

.success-text {
    color: #43a047 !important;
}

.btn-warning {
    background-color: #ffbc10 !important;
}

.warning-text {
    color: #ffbc10 !important;
}

.btn-danger {
    background-color: #f44336 !important;
}

.danger-text {
    color: #f44336 !important;
}

.btn-primary {
    background-color: #2196f3 !important;
}

.primary-text {
    color: #2196f3 !important;
}

.btn-dismiss {
    background-color: #78909c !important;
}

.dismiss-text {
    color: #78909c !important;
}

.btn-teal {
    background-color: #009688 !important;
}

.teal-text {
    color: #009688 !important;
}

.imgHover:hover {
    border: 2px solid #4fc3f7 !important;
}

.app-info {
    text-transform: uppercase;
}

.chip {
    background-color: #d2d2d2;
}

.input-group .btn:first-child {
    border-radius: 3px 0 0 3px;
    padding: 0 20px 0 20px;
}

.input-group .btn:last-child {
    border-radius: 0 3px 3px 0;
}

.collection .collection-item.avatar {
    min-height: unset;
    height: auto;
    border-bottom: 1px solid #d0d0d0;
}

.collection a.collection-item:not(.active):hover {
    background: #e0e0e0;
}

.collection .collection-item.selected {
    background: #e0e0e0;
    border-left: 4px solid #546e7a;
}

#post-list {
    padding: 0;
    border-radius: 0;
    border-left: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
}

#post-list .collection {
    margin: 0;
    border: 0;
    border-radius: 0;
    overflow: hidden;
    position: relative;
}

.collection .collection-item:last-child {
    border-bottom: none;
}

.post-title {
    font-size: 1.2rem;
    color: #000000 !important;
    margin: 15px;
}

#post-details {
    border: 1px solid #d0d0d0;
    border-radius: 0;
    padding: 15px;
}

#post-details hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c5c5c5;
    margin: 1em 0;
    padding: 0;
}

#post-status {
    padding-top: 20px;
}

#post-status a {
    color: #757575;
}

.toast span {
    padding-right: 1.5rem;
}
