body {
    background-color: #fff;
}

nav {
    background-color: #2196f3 !important;
}

.side-nav li > a:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.card.horizontal .card-image img {
    min-height: 100%;
}

.btn-info {
  background-color: #29b6f6 !important;
}

.btn-success {
  background-color: #00ea20 !important;
}

.btn-warning {
  background-color: #ffbc10 !important;
}

.btn-danger {
  background-color: #ff0000 !important;
}

.btn-primary {
    background-color: #2196f3 !important;
}

.btn-dismiss {
    background-color: #78909c !important;
}

.btn-teal {
    background-color: #009688 !important;
}

.imgHover:hover {
    border: 2px solid #4fc3f7 !important;
}

.app-info {
    text-transform: uppercase;
}

.chip {
    background-color: #d2d2d2;
}

.input-group .btn:first-child {
    border-radius: 3px 0 0 3px;
    padding: 0 20px 0 20px;
}

.input-group .btn:last-child {
    border-radius: 0 3px 3px 0;
}

.collection .collection-item.avatar {
    min-height: unset;
    height: auto;
    border-bottom: 1px solid #d0d0d0;
}

.collection a.collection-item:not(.active):hover {
    background: #e0e0e0;
}

.collection .collection-item.selected {
    background: #e0e0e0;
    border-left: 4px solid #546e7a;
}

#article-list {
    padding: 0;
    border-radius: 0;
    border-left: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
}

#article-list .collection {
    margin: 0;
    border: 0;
    border-radius: 0;
    overflow: hidden;
    position: relative;
}

.collection .collection-item:last-child {
    border-bottom: none;
}

.article-title {
    font-size: 1.2rem;
    color: #000000 !important;
}

#article-details {
    border: 1px solid #d0d0d0;
    border-radius: 0;
}

#article-details hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c5c5c5;
    margin: 1em 0;
    padding: 0;
}
