#preview li {
    list-style-type: disc;
}

#preview pre code {
    background-color: transparent;
    border: 0;
    padding: 0;
}

#preview code {
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-weight: normal;
}