<!DOCTYPE html>
<html lang="en">
<head>
    {% include "../common/header.html" %}
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/admin.css') }}" media="screen,projection"/>
    <title>文章列表 - {{ siteTitle }}</title>
</head>

<main>
    {% include "../common/navbar.html" %}
    <div class="row">
        <div class="container">
            <div id="article-list" class="col s4 card-panel z-depth-2">
                <ul class="collection">
                    {% for articleInfo in articleLists %}
                        <a href="#" class="collection-item avatar article-link" data-id="{{ articleInfo.article_id }}">
                            <i class="material-icons blue-grey circle">chrome_reader_mode</i>
                            <span class="black-text">
                                {{ articleInfo.article_title }}
                                {% if articleInfo.article_is_draft %}
                                    <span class="draft badge">草稿</span>
                                {% end %}
                            </span>
                            <p class="grey-text text-darken-1 truncate">{{ articleInfo.article_summary }}&nbsp;</p>
                        </a>
                    {% end %}
                </ul>
            </div>
            <div id="article-details" class="col s8 card-panel" style="display: none">
                <p class="article-title">Card Title<i class="material-icons right">edit</i></p>
                <hr class="grey-text text-lighten-2">
                <div id="article-content"></div>
                <div id="article-status">
                    <hr class="grey-text text-lighten-2">
                    <div class="row">
                        <div class="col s4 m4 center-align" id="article-browsers">
                            <a href="#"><i class="small material-icons">touch_app</i></a>
                            <p></p>
                        </div>
                        <div class="col s4 m4 center-align" id="article-hidden">
                            <a href="#"><i class="small material-icons"></i></a>
                            <p></p>
                        </div>
                        <div class="col s4 m4 center-align" id="article-timestamp">
                            <a href="#"><i class="small material-icons">today</i></a>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% raw xsrf_form_html() %}
</main>
<script type="text/javascript" src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ static_url('js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/common.js') }}"></script>
<script type="text/javascript" src="{{ static_url('editor/editormd.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('article/articles.js') }}"></script>
<script>
    $(function () {
        $.URL_CONFIG.article.info_api_url = "{{ reverse_url('articleInfo') }}";
        $.URL_CONFIG.article.edit_page_url = "{{ reverse_url('articleEdit') }}";
    });
</script>

</html>