<!DOCTYPE html>
<html lang="en">
<head>
    {% include "../common/header.html" %}
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/admin.css') }}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ static_url('editor/css/editormd.min.css') }}"/>
    <title>文章列表 - {{ siteTitle }}</title>
</head>

<main>
    {% include "../common/navbar.html" %}
    <div class="row">
        <div class="container">
            <div id="post-list" class="col s4 card-panel z-depth-2">
                <ul class="collection">
                    {% for postInfo in postLists %}
                        <a href="#" class="collection-item avatar post-link" data-id="{{ postInfo.post_id }}">
                            <i class="material-icons blue-grey circle">chrome_reader_mode</i>
                            <span class="black-text">
                                {{ postInfo.post_title }}
                                {% if postInfo.post_is_draft %}
                                    <span class="draft badge">草稿</span>
                                {% end %}
                            </span>
                            <p class="grey-text text-darken-1 truncate">{{ postInfo.post_summary }}&nbsp;</p>
                        </a>
                    {% end %}
                </ul>
            </div>
            <div id="post-details" class="col s8 card-panel" style="display: none">
                <p class="post-title">Post Title<i class="material-icons right">edit</i></p>
                <hr class="grey-text text-lighten-2">
                <div id="post-content"></div>
                <div id="post-status">
                    <hr class="grey-text text-lighten-2">
                    <div class="row">
                        <div class="col s4 m4 center-align" id="post-browsers">
                            <a href="#"><i class="small material-icons">touch_app</i></a>
                            <p></p>
                        </div>
                        <div class="col s4 m4 center-align" id="post-hidden">
                            <a href="#"><i class="small material-icons"></i></a>
                            <p></p>
                        </div>
                        <div class="col s4 m4 center-align" id="post-timestamp">
                            <a href="#"><i class="small material-icons">today</i></a>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% raw xsrf_form_html() %}
</main>
<script type="text/javascript" src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ static_url('js/materialize.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/common.js') }}"></script>
<!-- Editor.md 引入文件 -->
<script type="text/javascript" src="{{ static_url('editor/lib/marked.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('editor/lib/prettify.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('editor/lib/raphael.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('editor/lib/underscore.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('editor/lib/sequence-diagram.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('editor/lib/flowchart.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('editor/lib/jquery.flowchart.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('editor/editormd.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('post/posts.js') }}"></script>
<script>
    $(function () {
        $.URL_CONFIG.post.info_api_url = "{{ reverse_url('postInfo') }}";
        $.URL_CONFIG.post.edit_page_url = "{{ reverse_url('postEdit') }}";
        $.URL_CONFIG.post.delete_page_url = "{{ reverse_url('postDelete') }}";
    });
</script>

</html>