<!DOCTYPE html>
<html lang="en">
<head>
    {% include "../common/header.html" %}
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/admin.css') }}" media="screen,projection"/>
    <link rel="stylesheet" href="{{ static_url('editor/css/editormd.min.css') }}"/>
    <title>撰写文章</title>
</head>

<main>
    {% include "../common/navbar.html" %}
    <div class="row">
        <div class="container">
            <div id="wrapper" class="col s12">
                <div class="col s12">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">subtitles</i>
                        <input id="title" type="text" class="validate" placeholder="填写文章标题"
                               data-length='50' style="text-align: center;">
                    </div>
                    <div class="input-field col s6 m6">
                        <div class="hide-on-med-and-down input-group right">
                            <a href='#' class='btn btn-danger save-draft'><i class="material-icons">delete</i>存为草稿</a>
                            {% if editMode %}
                            <a href='#' class='btn btn-primary update-now right'><i class="material-icons">update</i>现在更新</a>
                            {% else %}
                            <a href='#' class='btn btn-primary publish-now right'><i class="material-icons">publish</i>现在发布</a>
                            {% end %}
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="input-field col s6 m2">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="author" type="text" class="validate" placeholder="填写作者名称"
                               value="{{ current_user.setting_user_name }}" style="text-align: center;">
                    </div>
                    <div class="input-field col s6 m2">
                        <i class="material-icons prefix">access_time</i>
                        <input id="publish" type="text" class="timepicker" placeholder="发布日期" style="text-align: center;">
                    </div>
                </div>
                <div id="editor-wrapper" class="col s12">
                    <textarea style="display:none;"></textarea>
                </div>
                <div class="col s12 m4 chips"></div>
            </div>
            <div class="input-field col s12 hide-on-large-only">
                <div class="input-group right">
                    <a href='#' class='btn btn-danger save-draft'><i class="material-icons">delete</i>存为草稿</a>
                    {% if editMode %}
                    <a href='#' class='btn btn-primary update-now right'><i class="material-icons">update</i>现在更新</a>
                    {% else %}
                    <a href='#' class='btn btn-primary publish-now right'><i class="material-icons">publish</i>现在发布</a>
                    {% end %}
                </div>
            </div>
        </div>
    </div>

</main>
<script type="text/javascript" src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ static_url('js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/common.js') }}"></script>
<script type="text/javascript" src="{{ static_url('editor/editormd.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('write/write.js') }}"></script>

</html>