<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/install.css') }}" media="screen,projection"/>
    <title>安装 Tornado-BLOG</title>
</head>

<main>
    <div id="container" class="row container">
        <div class="card grey lighten-4 col s6 offset-s3 z-depth-2">
            <div class="card-content">
                <h4 class="center" style="margin-top: 0;">安装 Tornado-BLOG</h4>
                <div id="setup-container" class="col s12">
                    <div class="input-field col s8">
                        <i class="material-icons prefix">title</i>
                        <input id="title" type="text" class="validate">
                        <label for="title">站点标题</label>
                    </div>
                    <div class="input-field col s8">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="user" type="text" class="validate">
                        <label for="user">管理员用户名</label>
                    </div>
                    <div class="input-field col s8">
                        <i class="material-icons prefix">lock</i>
                        <input id="passwd" type="password" class="validate">
                        <label for="passwd">管理员密码</label>
                    </div>
                    <div class="input-field col s8">
                        <i class="material-icons prefix">lock</i>
                        <input id="confirm" type="password" class="validate">
                        <label for="confirm">重复管理员密码</label>
                    </div>
                </div>
            </div>
            <div class="card-action" style="clear: both;">
                {% raw xsrf_form_html() %}
                <a id="reset-btn" class="waves-effect waves-light btn btn-dismiss">重置</a>
                <a id="setup-btn" class="waves-effect waves-light btn btn-primary right">安装</a>
            </div>
        </div>
    </div>
</main>

<footer>
    <script type="text/javascript" src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ static_url('js/install.js') }}"></script>
</footer>
</html>