<ul id="slide-out" class="side-nav fixed">
    <li class="collection-item"><div class="blue-grey" style="height: 50px"></div></li>
    <li><a href="{{ reverse_url('adminIndex') }}" class="collapsible-header waves-effect"><i class="material-icons">dashboard</i>仪表盘</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li><a href="{{ reverse_url('adminWrite') }}" class="collapsible-header waves-effect"><i class="material-icons">bug_reports</i>撰写文章</a></li>
        </ul>
    </li>
</ul>
